* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  & ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    & li {
      padding: 0 10px;
      & a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        color: black;
      }
    }
  }
  .right_side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & button {
      margin: 0 10px;
      font-size: 20px;
      padding: 8px 20px;
      border: none;
      border-radius: 50px;
      font-weight: 500;
    }
    #login {
      background: #f1f1f1;
    }
    #get_started {
      background: #000000;
      color: white;
    }
  }
}

#hero {
  width: 100%;
  height: 90vh;
  background-image: url(./images/Rectangle\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 9px;
  }
  & div {
    background-color: white;
    padding: 10px 20px;

    .inp_group {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

      & div {
        & select {
          border: none;
          background: #ececec;
          font-size: 20px;
          padding: 5px 30px;
        }
      }
      .how_much {
        grid-column: 1 / span 3;
        & button {
          width: 100%;
          font-size: 20px;
          padding: 5px;
          border: none;
          background: #ececec;
        }
      }
      #find_offer {
        & button {
          font-size: 20px;
          border: none;
          padding: 5px 12px;
          width: 100%;
          background: #00ebc7;
          border-radius: 100px;
        }
      }
    }
  }
  .why_zappr {
    align-items: center;
    margin-top: 50px;
    background-color: transparent;
    & button {
      background-color: transparent;
      padding: 10px 20px;
      color: white;
      font-weight: 600;
      border: 1px solid white;
      border-radius: 100px;
      text-decoration: underline;
      cursor: pointer;
      font-size: 20px;
    }
  }
}

.buy_sell {
  text-align: center;
  padding: 30px 0;
  background: #fde24f;

  & h1 {
    font-size: 28px;
    margin-bottom: 12px;
  }
  & img {
    width: 90%;
  }
}
.sign_up {
  background: #cfbaff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  text-align: center;
  & h1 {
    max-width: 80%;
    font-size: 70px;
  }
  & button {
    background: #000000;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 40px;
  }
}

footer {
  background: #000000;
  color: white;
  margin: auto;
  .spa {
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    & p {
      max-width: 90%;
    }
  }
  #f_item {
    display: flex;
    justify-content: space-between;
    padding: 40px 200px;

    & div {
      & p {
        font-size: 24px;
      }
      & ul {
        list-style: none;
        & li {
          padding: 5px 0;
        }
      }
    }
  }
}
.f_section {
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  & h1 {
    font-size: 29px;
  }

  .all_f_box {
    padding: 40px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .f_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .f_c_box {
        text-align: center;
        padding: 10px 20px;
        .f_title {
          font-size: 20px;
          font-weight: 700;
        }
        .f_body {
          padding: 20px 15px;
        }
        .f_work {
          text-decoration: underline;
          font-weight: 600;
        }
      }
    }
  }
  .f_button {
    border: 1px solid black;
    background-color: transparent;
    margin: auto;
    font-size: 25px;
    margin-top: 10px;
    padding: 9px 25px;
    border-radius: 100px;
  }
}

.color_part {
  position: relative;

  & .vl {
    border-left: 1px solid transparent;
    height: 559px;
    background-color: rgb(21, 23, 23);
    position: absolute;
    left: 50%;
    top: 0px;
    z-index: 1;
  }
}

.color_section {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 150px;

  padding: 30px;
  background-color: #f1f1f1;

  & h1 {
    padding: 20px 0px;
  }
  & .color_container {
    & .color_flex {
      border: 1px solid black;
      width: 100%;
      padding: 0 20px;
      height: 100px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-top: 10px;
      font-weight: bold;
    }
  }
  & .color_btn {
    text-align: center;
    margin-top: 50px;
  }
  & button {
    outline-style: none;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    width: 220px;
    height: 50px;
    transition: 0.9s;
    cursor: pointer;
    margin-left: 10px;
    & hover {
      opacity: 1;
      background-color: rgb(14, 13, 13);
      color: #e9dbdb;
      outline: none;
    }
  }
}

.text_section {
  height: 600px;
  background-color: #cfbaff;
  padding: 50px;
  font-size: 45px;
  font-weight: 500;
  line-height: 90.77px;
  text-align: center;

  & div {
    margin-top: 80px;
  }

  & button {
    outline-style: none;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    width: 220px;
    height: 50px;
    transition: 0.9s;
    cursor: pointer;
    margin-left: 10px;
    & hover {
      opacity: 1;
      background-color: rgb(14, 13, 13);
      color: #e9dbdb;
      outline: none;
    }
  }
}

/* responsive */
@media (max-device-width: 767px) {
  #nav {
    padding: 10px 4px;
    & ul {
      display: none;
    }
    .right_side {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & button {
        margin: 0 5px;
        font-size: 14px;
        padding: 5px 14px;
      }
    }
    #logo {
      width: 30%;
    }
  }
  #hero {
    height: 50vh;

    & h1 {
      font-size: 20px;
      margin-bottom: 4px;
    }
    & div {
      /* background-color: white; */
      padding: 4px 4px;

      .inp_group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2px;

        & div {
          & select {
            font-size: 14px;
            padding: 5px 15px;
          }
        }
        .how_much {
          grid-column: 2 / span 1;
          & button {
            font-size: 14px;
          }
        }
        #find_offer {
          & button {
            font-size: 14px;
          }
        }
      }
    }
  }
  .buy_sell {
    & h1 {
      font-size: 18px;
    }
  }
  .sign_up {
    padding: 40px 0;

    & h1 {
      max-width: 90%;
      font-size: 40px;
    }
    & button {
      background: #000000;
      color: white;
      font-size: 17px;
      font-weight: 600;
      padding: 5px 10px;
      border-radius: 50px;
      margin-top: 20px;
    }
  }
  .f_section {
    padding: 40px 15px;
    & h1 {
      font-size: 29px;
    }

    .all_f_box {
      padding: 20px 30px;
      flex-direction: column;
    }
  }
  footer {
    background: #000000;
    color: white;
    margin: auto;
    .spa {
      font-size: 14px;
      padding: 10px 0;
      text-align: center;
      display: flex;
      justify-content: center;
      & p {
        max-width: 90%;
      }
    }
    #f_item {
      flex-wrap: wrap;

      padding: 20px 20px;
      gap: 9px;
    }
  }
  .color_section {
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    & .color_container {
      & .color_flex {
        width: 100%;
        gap: 10px;
        padding: 0 5px;
      }
    }
    & .color_btn {
      margin-top: 20px;
    }
  }
  .color_part {
    & .vl {
      z-index: -1;
    }
  }
}
